################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/back/Solution1/API/bin/Debug/net8.0
/back/Solution1/API/obj
/back/Solution1/Teste/bin/Debug/net8.0
/back/Solution1/Teste/obj
/back/Solution1/.vs/Solution1
