<div class="empresa-container">
    <div class="empresa-menu">

    </div>
    <div class="empresa-content">
        <div class="empresa-top basic-bottom-shadow">
            <img src="../../../assets/images/logo-mrh360.webp" alt="Logo RH360">
        </div>
        <div class="empresa-dados">
            <h4>EMPRESA</h4>
            <div class="empresa-dados-botao basic-bottom-shadow">
                <div class="empresa-btn-editar">Editar Empresa</div>
            </div>

            <div class="empresa-dados-campos basic-bottom-shadow">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>