<div class="empresa-container">
    <div class="empresa-menu">

    </div>
    <div class="empresa-content">
        <div class="empresa-top basic-bottom-shadow">
            <img src="../../../assets/images/logo-mrh360.webp" alt="Logo RH360">
        </div>
        <div class="empresa-dados">
            <h4>EMPRESA</h4>
            <div class="empresa-dados-botao basic-bottom-shadow" (click)="openDialog()">
                <div class="empresa-btn-editar">Editar Empresa</div>
            </div>

            <div class="empresa-dados-campos basic-bottom-shadow">
                <div>
                    <div>
                        <label>Nome da empresa</label>
                        <span>{{empresa.nome}}</span>
                    </div>
                    <div>
                        <label>CNPJ da empresa</label>
                        <span>{{empresa.cnpj}}</span>
                    </div>
                    <div>
                        <label>Nome da administrador</label>
                        <span>{{empresa.adm}}</span>
                    </div>
                </div>

                <div>
                    <div>
                        <label>CPF administrador</label>
                        <span>{{empresa.cpf}}</span>
                    </div>
                    <div>
                        <label>E-mail</label>
                        <span>{{empresa.email}}</span>
                    </div>
                    <div>
                        <label>Telefone</label>
                        <span>{{empresa.telefone}}</span>
                    </div>
                </div>

                <div>
                    <div>
                        <label>CEP</label>
                        <span>{{empresa.cep}}</span>
                    </div>
                    <div>
                        <label>Endereço</label>
                        <span>{{empresa.endereco}}</span>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>