<div class="login-container">
    <div class="login-first-column">
        <img class="login-img-back " src="../../../assets/images/login-back.png" alt="Login">
    </div>
    <div class="login-second-column">
        <div class="login-header">
            <div>
                <img src="../../../assets/images/logo-mrh360.webp" alt="Logo RH360">
            </div>
            <div>
                <h2 class="login-title">Crie uma conta profissional</h2>
                <h1 class="login-subTitle">Preencha seus dados para ter acesso</h1>
            </div>
        </div>
        <div class="login-body">
            <div>
                <div>
                    <label>Nome completo</label>
                    <input type="text" id="txtNome" placeholder="Digite seu nome completo">
                </div>
                <div>
                    <label>E-mail</label>
                    <input type="text" id="txtEmail" placeholder="Digite seu e-mail cadastrado / ex: email@gmail.com">
                </div>
                <div>
                    <label>Senha</label>
                    <input type="text" id="txtSenha" placeholder="Digite uma senha forte">
                </div>
                <div>
                    <label>Confirmação de senha</label>
                    <input type="text" id="txtSenhaConfirma" placeholder="Repita a senha">
                </div>
                <div>
                    <input type="checkbox" id="chkAceite" class="login-check">
                    <label>Eu aceito os termos de uso & privacidade e o contrato de serviço</label>
                </div>
                <div>
                    <input type="button" (click)="redirectToRout()" class="login-button" id="btnCriar" value="Criar conta" />
                </div>
            </div>
        </div>
    </div>
</div>